<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="Countdown.css">
        <!-- link to style sheet -->
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Countdown Game</h1>
            </header>
             <main>
            <h2>Choose a vowel or consonant</h2>
            <div id="game-display">
                <table>
                    <tr>
                    <form action="/" method="POST">
                        <td type="text" name="letter[1]"></td>
                        <td type="text" name="letter[2]"></td>
                        <td type="text" name="letter[3]"></td>
                        <td type="text" name="letter[4]"></td>
                        <td type="text" name="letter[5]"></td> 
                        <td type="text" name="letter[6]"></td> 
                        <td type="text" name="letter[7]"></td> 
                        <td type="text" name="letter[8]"></td>
                    </form>
                </table>
            <div id="buttons">               
                <button id="btn1">Vowel</button>
                <button id="btn2">Consonant</button>
                <button id="btn3">Reset</button>
                <button id="xhtmRequest">XHTML</button>
            </div>  
            </div>
            <div id="wordDisplaySection">
                
            </div>
            </main>
            <!-- link to JS file -->
        </div> 
            <script type="text/javascript" src="Countdown.js"></script>
    </body>

</html>
